@charset "utf-8";

/*-----	 Reset	 -----*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/*-----	 Fonts	 -----*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Thin.woff) format('woff');
}

/*-----	 Base	 -----*/
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background: url(../img/pattern.png);
    font: 14px 'Open Sans';
    color: #5f5f5f;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

strong, b {
    font-weight: 700;
}

sup {
    vertical-align: super;
    font-size: .7em;
}

.wrapper {
    position: relative;
    width: 980px;
    padding: 0 20px;
    margin: 0 auto;
}

.ib {
    display: inline-block;
    vertical-align: middle;
}

.ib-list > * {
    display: inline-block;
    vertical-align: middle;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.table {
    display: table;
}

.td {
    display: table-cell;
}

.wrapper:after,
.clear:after {
    content: '';
    display: table;
    clear: both;
}

.menu > li > a:before,
.breadcrumbs a:after,
.links a:after,
.popup-close:after,
.main .call:before,
.main .mass:before,
.main li:before,
.call-number .numbers .green:after,
.call-number .numbers .red:after,
.popup-incomnig-call .content-popup .button-reply:after,
.popup-incomnig-call .content-popup .button-drop:after,
.switch-active-inner .icon-switch-active,
.switch-not-active-inner .icon-switch-not-active,
.switch-active .warning:before {
    content: '';
    display: inline-block;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

/*-----	 REPEATING BLOCKS	-----*/

/*-----	 Form  -----*/
label {
    display: block;
}

.input-text {
    display: block;
    box-sizing: border-box;
    padding: 0 15px;
    border: 0;
    margin-bottom: 20px;
    border-radius: 3px;
    background: #ccc;
    font: 16px/36px 'Open Sans';
    color: #5f5f5f;
}

.input-value {
    width: 80px;
    border-radius: 15px;
    text-align: center;
    line-height: 52px;
}

.input-value + label {
    width: 80px;
    text-align: center;
    color: #afafaf;
}

.input-checkbox {
    position: absolute;
    left: -99999px;
}

.input-checkbox + label {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    border: 3px solid #5f5f5f;
    border-radius: 15px;
    background: #5f5f5f;
    font-size: 12px;
    line-height: 24px;
    color: #afafaf;
    overflow: hidden;
    cursor: pointer;
}

.input-checkbox + label > span {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    transition: .3s;
}

.input-checkbox + label .on {
    right: 100%;
    padding: 0 8px;
    text-align: left;
    color: #e5e5e5;
}

.input-checkbox + label .off {
    left: 0;
    padding: 0 3px;
    text-align: right;
    color: #989898;
}

.input-checkbox + label:after {
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    transition: .3s;
}

/*
.input-checkbox + label .on:after{
	content: '';
	position: absolute;
	right: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #fff;
}*/
.input-checkbox:checked + label:after {
    left: 100%;
    margin-left: -24px;
    background: #46cf98;
}

.input-checkbox:checked + label .on {
    right: 0;
}

.input-checkbox:checked + label .off {
    left: 100%;
}

.button {
    display: block;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 0 #5f5f5f, 0 8px 3px rgba(117, 117, 117, .2);
    background: #6d6c6c;
    text-align: center;
    font-size: 16px;
    line-height: 37px;
    transition: .3s;
}

.button:hover {
    box-shadow: 0 4px 0 #45b387, 0 8px 3px rgba(117, 117, 117, .2);
    background: #46cf98;
}

/*-----	 Header  -----*/
.header {
    position: relative;
    z-index: 1;
    padding: 30px 0 25px;
    border-bottom: 3px solid #46cf98;
    box-shadow: 0 1px 4px rgba(117, 117, 117, .7);
    background: #fff;
    line-height: 1;
}

.header .logo {
    font-size: 38px;
    font-weight: 700;
    color: #5f5f5f;
}

.header .logo span {
    color: #46cf98;
}

.links a {
    margin: 0 0 0 40px;
}

.link-profile:after {
    width: 33px;
    height: 32px;
    background-position: -27px -5px;
}

.link-profile:hover:after {
    background-position: -70px -5px;
}

.link-settings:after {
    background-position: 0 -278px;
    width: 32px;
    height: 32px;
}

.link-settings:hover:after {
    background-position: 0 -311px;
}

.link-audio:after {
    width: 33px;
    height: 31px;
    background-position: -113px -5px;
}

.link-audio:hover:after {
    background-position: -156px -5px;
}

.link-money:after {
    width: 33px;
    height: 29px;
    background-position: -199px -5px;
}

.link-money:hover:after {
    background-position: -199px -44px;
}

.link-exit:after {
    width: 30px;
    height: 32px;
    background-position: -5px -83px;
}

.link-exit:hover:after {
    background-position: -45px -83px;
}

.topup {
    padding: 0 10px;
    border: 2px solid #5f5f5f;
    margin: 0 0 0 30px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 31px;
}

.balance {
    font-size: 25px;
}

/*-----	 Footer  -----*/
.footer {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    padding: 10px 0 0;
    box-shadow: -2px -2px 10px rgba(117, 117, 117, 1);
    background: #46cf98;
    color: #fff;
}

.footer .cols {
    margin: 0 0 10px;
}

.footer .col {
    float: left;
    width: 20%;
}

.footer .title {
    margin: 0 0 5px;
    font-size: 16px;
}

.footer .col a {
    font-weight: 700;
}

.copyright {
    font-size: 12px;
    line-height: 1.1;
}

.footer .phone {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.footer .logo {
    text-align: right;
    font-size: 24px;
    font-weight: 300;
}

.footer .logo span {
    font-weight: 700;
}

/*-----	 Menu  -----*/
aside {
    position: relative;
    z-index: 0;
    float: left;
    width: 170px;
    box-shadow: 3px 0 3px rgba(117, 117, 117, 1);
    background: #d2d2d2;
}

.menu > li {
    position: relative;
    text-align: center;
}

.menu > li > a {
    display: block;
    padding: 45px 0 20px;
    font-size: 20px;
    font-weight: 300;
    color: #5f5f5f;
    line-height: 1;
}

.menu > li > a:before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
}

.menu > li > a:not(.active):hover {
    background: #f0f0f0;
    color: #141416;
}

.menu > li > .active {
    background: #46cf98;
    color: #fff;
}

.menu-statistics:before {
    background-position: -85px -83px;
}

.menu-statistics:hover:before {
    background-position: -5px -153px;
}

.menu-statistics.active:before {
    background-position: -154px -83px;
}

.menu-settings:before {
    background-position: -74px -153px;
}

.menu-settings:hover:before {
    background-position: -242px -5px;
}

.menu-settings.active:before {
    background-position: -144px -153px;
}

.menu-installation:before {
    background-position: -242px -75px;
}

.menu-installation:hover:before {
    background-position: -214px -215px;
}

.menu-installation.active:before {
    background-position: -223px -145px;
}

.menu-design:before {
    background-position: -312px -5px;
}

.menu-design:hover:before {
    background-position: -293px -145px;
}

.menu-design.active:before {
    background-position: -312px -75px;
}

.menu-home:before {
    background-position: -320px -191px;
}

.menu-home:hover:before {
    background-position: -390px -251px;
}

.menu-home.active:before {
    background-position: -390px -313px;
}

.menu-manager:before {
    background-position: -388px 0;
}

.menu-manager:hover:before {
    background-position: -388px -61px;
}

.menu-manager.active:before {
    background-position: -388px -121px;
}

.menu-profill:before {
    background-position: -456px 0;
}

.menu-profill:hover:before {
    background-position: -456px -61px;
}

.menu-profill.active:before {
    background-position: -456px -121px;
}

.menu-finans:before {
    background-position: -526px 0;
}

.menu-finans:hover:before {
    background-position: -526px -67px;
}

.menu-finans.active:before {
    background-position: -526px -126px;
}

.menu-help:before {
    background-position: -458px -189px;
}

.menu-help:hover:before {
    background-position: -458px -250px;
}

.menu-help.active:before {
    background-position: -458px -310px;
}

.submenu {
    position: relative;
    padding: 10px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25) inset;
    background: #5f5f5f;
}

.submenu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-top: 10px solid #46cf98;
    margin-left: -19px;
}

.submenu li {
    font-size: 18px;
}

.submenu a {
    display: block;
    padding: 5px 0;
    color: #989898;
}

.submenu li:not(.active):hover a {
    background: #6d6c6c;
    color: #fff;
}

.submenu li.active {
    color: #46cf98;
}

/*-----	 Breadcrumbs  -----*/
.breadcrumbs {
    padding: 0 0 0 25px;
    margin: 0 0 20px;
    background: #ddd;
    line-height: 45px;
    font-size: 16px;
    color: #141416;
}

.breadcrumbs a {
    color: #878787;
}

.breadcrumbs a:after {
    width: 12px;
    height: 22px;
    margin: 0 28px -4px;
    background-position: -5px -5px;
}

/*-----	 Conent  -----*/
.content {
    padding: 0 0 150px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background: #ccc;
}

main {
    float: right;
    width: 810px;
}

main > div:not(.breadcrumbs),
main > ul {
    max-width: 700px;
    margin: 0 auto 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 9px rgba(117, 117, 117, .4);
    background: #e9e9e9;
}

/*-----	 Settings  -----*/
.settings li {
    position: relative;
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.settings li:nth-child(2n) {
    background: #dfdfdf;
}

.settings p {
    box-sizing: border-box;
    width: 600px;
    padding: 0 0 0 15px;
}

.settings .title {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 21px;
}

.settings p:not(.title) {
    line-height: 15px;
    color: #a0a0a0;
}

.settings .value {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100px;
    top: 0;
    right: 0;
    text-align: center;
}

.settings + .button {
    width: 157px;
    margin: 0 auto;
}

.main .title {
    position: relative;
    z-index: 0;
    font-size: 36px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

.main .title:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #5f5f5f;
}

.main .title span {
    padding: 0 5px;
    background: #e9e9e9;
}

.main .call {
    display: inline-block;
    line-height: 25px;
    font-size: 18px;
    margin-right: 50px;
}

.main .call:before {
    background-position: -527px -198px;
    width: 25px;
    height: 25px;
    margin-right: 12px;
    vertical-align: middle;
}

.main .call:hover:before {
    background-position: -527px -248px;
}

.main .call.active:before {
    background-position: -527px -223px;
}

.main .call:hover {
    color: #141416;
    cursor: pointer;
}

.main .mass {
    display: inline-block;
    font-size: 18px;
}

.main .mass:before {
    background-position: -561px -200px;
    width: 24px;
    height: 21px;
    vertical-align: middle;
    margin-right: 12px;
}

.main .mass:hover:before {
    background-position: -561px -244px;
}

.main .mass.active:before {
    background-position: -561px -222px;
}

.main .mass:hover {
    color: #141416;
    cursor: pointer;
}

.main li:hover,
.main li:hover .title span {
    background: #dfdfdf;
}

.home .breadcrumbs a {
    margin-left: 80px;
}

.home .breadcrumbs {
    margin: 0;
}

.main li {
    padding: 35px 100px 30px 230px;
    background: #e9e9e9;
}

.main li:before {
    background-position: -77px -230px;
    width: 21px;
    height: 40px;
    position: absolute;
    right: 30px;
    margin-top: 40px;
}

/*-----	 Phone  -----*/

.my-number {
    position: absolute;
    top: 65px;
    right: 40px;
    font-size: 20px;
    font-weight: 700;
    background: #e2e2e2;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}

.my-number span {
    margin-left: 10px;
    font-weight: 300;
}

.switch-not-active {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    font-weight: 300;
}

.switch-not-active-inner {
    height: 45px;
    background: #e2e2e2;
    font-size: 16px;
    line-height: 24px;
    width: 360px;
    padding-left: 15px;
    margin-left: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}

.switch-not-active-inner div {
    float: left;
}

.switch-active {
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    font-weight: 300;
}

.switch-active-inner {
    height: 45px;
    background: #e2e2e2;
    font-size: 16px;
    line-height: 24px;
    width: 355px;
    padding-left: 15px;
    margin-left: 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
}

.switch-active-inner div {
    float: left;
}

.instruction {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.2px;
}

.switch-active .warning {
    height: 40px;
    background: #e2e2e2;
    width: 220px;
    float: left;
    line-height: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 5px 5px 0 7px;
    margin-left: 11px;
}

.switch-not-active-inner .icon-switch-not-active {
    background-position: -561px -277px;
    width: 25px;
    height: 38px;
    margin-left: 5px;
    margin-top: 4px;
}

.switch-not-active-inner .icon-switch-not-active:after {
    content: "";
    position: absolute;
    right: 12px;
    top: 15px;
    width: 7px;
    height: 7px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 4px;
}

.switch-active-inner .icon-switch-active {
    position: relative;
    background-position: -528px -278px;
    width: 25px;
    height: 38px;
    margin-left: 15px;
    margin-top: 4px;
    cursor: pointer;
}

.switch-active-inner .icon-switch-active:after {
    content: "";
    position: absolute;
    right: -20px;
    top: 12px;
    width: 7px;
    height: 7px;
    background: #46cf98;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 4px;
    box-shadow: 0 0 7px #46cf98;
}

.switch-active .warning:before {
    background-position: -525px -322px;
    width: 16px;
    height: 36px;
    float: left;
    margin-right: 5px;
}

.header .active {
    display: block;
}

.wrapper-phone {
    width: 775px;
    margin: 0 auto;
    padding: 60px 0 25px;
}

.phone-button {
    height: 150px;
    background: url('../img/button-red.png') no-repeat -6px -15px;
    border-radius: 20px;
    overflow: hidden;
}

.phone-button:hover {
    background: url('../img/button-red-hover.png') no-repeat -6px -15px;
}

.phone-button.active {
    background: url('../img/button-green.png') no-repeat -6px -15px;
}

.phone-button.active:hover {
    background: url('../img/button-green-hover.png') no-repeat -6px -15px;
}

.phone-button div {
    position: relative;
    cursor: pointer;
}

.phone-button .receiv {
    float: left;
    width: 350px;
    height: 150px;
}

.phone-button .receiv:after {
    content: '';
    position: absolute;
    right: -35px;
    top: 0;
    width: 70px;
    height: 150px;
    transform: skew(25deg);
}

.phone-button .not-receiv {
    float: right;
    width: 355px;
    height: 150px;
}

.phone-button .not-receiv:after {
    content: '';
    position: absolute;
    left: -35px;
    top: 0;
    width: 70px;
    height: 150px;
    transform: skew(25deg);
}

.phone-button .active {
    display: none;
}

.connect-site {
    height: 166px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    background: #e9e9e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.connect-site .title {
    position: relative;
    background: #dfdfdf;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 300;
}

.connect-site span {
    font-weight: 700;
    margin-left: 10px;
}

.connect-site .status {
    background: #e9e9e9;
    width: 245px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 12px;
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
}

.connect-site .status.green {
    color: #46cf98;
}

.connect-site .status.red {
    color: #e66262;
}

.connect-site .all-calls {
    padding-left: 25px;
    line-height: 50px;
}

.connect-site .missed-calls {
    padding-left: 25px;
    line-height: 40px;
}

.connect-site .time-calls {
    line-height: 50px;
}

.connect-site .fish-calls {
    line-height: 40px;
}

.connect-site .connect {
    margin-left: 20px;
}

.connect-site .fr span {
    float: right;
}

.col-right {
    margin-right: 20px;
}

.call-number {
    margin-top: 20px;
    background: #dfdfdf;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.call-number .title {
    padding: 15px 0 10px;
}

.call-number .title .connect {
    margin-left: 37px;
    font-weight: 300;
}

.call-number .title .phone {
    background: #e9e9e9;
    color: #5f5f5f;
    padding: 0 20px;
    height: 36px;
    font-size: 20px;
    line-height: 36px;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: 700;
    width: 170px;
    border: 0;
    box-shadow: border-box;
}

.call-number .time {
    margin-left: 15px;
    font-weight: 300;
}

.call-number .time span {
    margin-left: 15px;
    padding: 5px 22px;
    background: #e9e9e9;
    border-radius: 20px;
    font-weight: 700;
}

.call-number .numbers {
    background: #e9e9e9;
    width: 210px;
    height: 413px;
    border-bottom-left-radius: 10px;
    padding: 28px 40px;
}

.call-number .numbers li {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    font-weight: 700;
    color: #f0f0f0;
    background: #7d7d7d;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 15px;
    box-shadow: 0 5px 0 rgba(109, 108, 108, 1);
    cursor: pointer;
    overflow: hidden;
}

.call-number .numbers li:hover {
    background: #969696;
    box-shadow: 0 5px 0 rgba(131, 130, 130, 1);
}

.call-number .numbers li:nth-child(3n) {
    margin-right: 0;
}

.call-number .numbers .green {
    width: 95px;
    background: #46cf98;
    box-shadow: 0 5px 0 rgba(69, 179, 135, 1);
}

.call-number .numbers .red {
    width: 95px;
    background: #e66262;
    box-shadow: 0 5px 0 rgba(202, 81, 81, 1);
}

.call-number .numbers .green:hover {
    background: #54d9ad;
    box-shadow: 0 5px 0 rgba(83, 194, 159, 1);
}

.call-number .numbers .red:hover {
    background: #eb7676;
    box-shadow: 0 5px 0 rgba(213, 97, 97, 1);
}

.call-number .numbers .green:after {
    background-position: -40px -283px;
    width: 62px;
    height: 62px;
}

.call-number .numbers .red:after {
    background-position: -104px -284px;
    width: 60px;
    height: 60px;
}

.call-number .star-sharp {
    overflow: hidden;
    background: none !important;
    box-shadow: none !important;
}

.call-number .numbers .star,
.call-number .numbers .sharp {
    border-radius: 0;
    box-shadow: none;
    width: 88px;
    height: 88px;
    background-image: url('../img/button-star-sharp.png');
}

.call-number .numbers .star {
    background-position: -44px 0;
    transform: rotate(45deg) translate(-65px, 0);
}

.call-number .numbers .sharp {
    background-position: 38px 0;
    transform: rotate(45deg) translate(-35px, -60px);
}

.call-number .numbers .sharp:hover,
.call-number .numbers .star:hover {
    background-image: url('../img/button-star-sharp-hover.png');
}

.call-number .calls {
    width: 480px;
    float: right;
    font-size: 15px;
    background: #dfdfdf;
}

.call-number .calls ul {
    background: #e9e9e9;
    margin-right: 4px;
}

.call-number .type-call li {
    display: inline-block;
    background: #e4e4e4;
    height: 40px;
    border-top: 4px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    line-height: 40px;
    padding: 0 14px;
    cursor: pointer;
}

.call-number .type-call li:first-child {
    margin-left: 5px;
}

.call-number .type-call .active {
    background: #e9e9e9;
    cursor: default;
}

.call-number .type-call {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -7px;
}

.type-call .red {
    color: #e66262;
}

.type-call .green {
    color: #46cf98;
}

.call-number .calls tr.title td {
    border: none;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.call-number .calls td {
    border-right: 2px solid #dfdfdf;
    padding: 0 4px;
    height: 55px;
}

.call-number .calls td:last-child {
    border: none;
    padding: 0 0 0 5px;
    width: 184px;
}

.call-number .calls td:first-child {
    font-weight: 700;
    width: 119px;
    text-align: center;
}

.call-number li {
    display: none;
    position: relative;
    overflow: hidden;
}

.call-number .calls .active {
    display: block;
}

.calls li {
    height: 425px;
}

/*-----	 Layout  -----*/
.lock {
    overflow: hidden;
}

.layout,
.layout-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.layout {
    display: none;
    z-index: 1000;
    overflow-y: auto;
}

.layout-overlay {
    background: rgba(0, 0, 0, .5);
}

.popup {
    display: none;
    position: relative;
    top: 50px;
    box-sizing: border-box;
    width: 970px;
    padding: 50px 0;
    margin: 0 auto 50px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #46cf98;
    background: #e9e9e9;
    color: #878787;
}

.form-popup {
    margin: 0 auto;
    width: 365px;
    text-align: center;
}

.popup-title {
    margin: 0 0 40px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #5f5f5f;
}

.popup-title span {
    display: block;
    font-size: 37px;
    color: #46cf98;
}

.popup p {
    padding-bottom: 25px;
    color: #878787;
}

.popup .button {
    display: block;
    width: 100%;
    height: 36px;
    color: #f0f0f0;
    cursor: pointer;
}

.popup .input-text {
    width: 100%;
}

.popup a {
    color: #878787;
    margin: 0 15px 15px;
}

.popup .input-c {
    position: absolute;
    left: -9999999px;
}

.popup .input-c + label {
    margin: 15px 0 0;
}

.popup .input-c + label:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 13px;
    width: 13px;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 4px #ccc;
    background: #5f5f5f;
    cursor: pointer;
}

.popup .input-c:checked + label:after {
    background: #46cf98;
}

.popup-incomnig-call {
    width: 420px;
    padding: 18px 0 0;
    background: #dfdfdf;
}

.popup-incomnig-call .incomnig-call-title {
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    font-weight: 700;
    color: #46cf98;
    text-align: center;
    background: #e9e9e9;
    border-radius: 15px;
    width: 400px;
    margin: 0 auto 12px;
}

.popup-incomnig-call .incomnig-call-title span {
    font-weight: 300;
    color: #5f5f5f;
}

.popup-incomnig-call .content-popup {
    background: #e9e9e9;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.popup-incomnig-call .content-popup .source {
    font-size: 20px;
    font-weight: 300;
    padding: 0 27px 0 39px;
    line-height: 40px;
}

.popup-incomnig-call .content-popup .source span {
    font-size: 20px;
    font-weight: 700;
    float: right;
}

.popup-incomnig-call .content-popup .button-reply {
    width: 90px;
    height: 90px;
    background: #b6e6d3;
    border: none;
    border-radius: 50%;
}

.popup-incomnig-call .content-popup .button-drop {
    width: 90px;
    height: 90px;
    background: #e7c4c4;
    border: none;
    border-radius: 50%;
}

.popup-incomnig-call .content-popup .button-reply:after {
    background-position: 0 -351px;
    width: 65px;
    height: 65px;
    margin-top: 10px;
    margin-right: 5px;

}

.popup-incomnig-call .content-popup .button-drop:after {
    background-position: -349px -384px;
    width: 65px;
    height: 66px;
}

.popup-incomnig-call .content-popup .button-reply:hover:after {
    background-position: -85px -348px;
    margin-top: 10px;
    margin-right: 5px;

}

.popup-incomnig-call .content-popup .button-drop:hover:after {
    background-position: -422px -385px;
}

.popup-incomnig-call .content-popup .button-reply:hover {
    background: #46cf98;
    cursor: pointer;
}

.popup-incomnig-call .content-popup .button-drop:hover {
    background: #e66262;
    cursor: pointer;
}

.popup-incomnig-call .content-popup .reply {
    font-size: 20px;
    font-weight: 700;
    color: #46cf98;
    margin-bottom: 15px;
}

.popup-incomnig-call .content-popup .drop {
    font-size: 20px;
    font-weight: 700;
    color: #e66262;
    margin-bottom: 15px;
}

.popup-incomnig-call .content-popup .col {
    width: 50%;
    text-align: center;
    float: left;
}

.popup-incomnig-call .content-popup .time {
    position: relative;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px 2px 10px;
    line-height: 35px;
    height: 35px;
    background: #dfdfdf;
    border-radius: 15px;
    padding: 0 28px 0 19px;
    overflow: hidden;
}

.popup-incomnig-call .content-popup .time span {
    font-weight: 700;
    float: right;
}




















